<div class="dashboard-container container">
      <div class="row-fluid">
        <div class="header">

            <%= link_to root_path do %>
              <%= image_tag "header.png", id:"header-logo" %>
            <% end %>        
        
            <div class="header-link">
              <div class="col-lg-6">
                <h5><%= current_user.given_name %></h5>
              </div>
              <div class="col-lg-6">
                <%= link_to'Logout', destroy_user_session_path, :method => :delete, class: 'btn btn-primary'  %>                
              </div>

            </div>


        </div>
      </div>



      <div class="dashboard-content row">
        <!--Applications-->
        <div class="col-md-8 applications-container">
          <!-- Pending Apps Header -->
          <div class="pending-apps-header row">
            <p class="col-title pending-apps">Pending Applications </p>
            <%= link_to "+", new_application_path, class: 'add-application' %>
          </div>

          <!-- Pending Apps -->
          <div class="pending-apps-content row">
            <% @requester = Requester.where(user_id: current_user.id)%>
            <% for application in Application.where(requester_id: @requester)%>


            <%= link_to controller: "applications", action: "requester_show", id: application.id do%>
              <div class="pending-apps-row <%= application.recommendation %>">
                <div class="conference-name-date col-md-9">
                    <p class="app-header"><% concat application.conference_name %></p>
                    <p class="conference-date"><% concat application.conference_date.strftime("%b %d, %Y") %></p>

                </div>

                <div class="price-date-created col-md-3">
                    <p class="total-cost">$<% concat application.total %></p>
                    <p class="date-created">Created on <% concat application.created_at.strftime("%b %d, %Y") %></p>

                </div>

                <hr>
              </div>
              <% end %>
            <% end %>
          </div>
        </div>

        <!--Messages/Notifications-->
        <div class="col-md-4 notifications-container">
          <div class="notifications-header">
          <p class="col-title">Notifications</p>
          </div>

          <div class="notifications-content">


          <% for application in Application.first(10) %>

            <div class="notification-message">
                <div class="col-lg-11">
                  <h3>Notification Name</h3>             

                  <p>Application Number:<% concat application.id %></p>
                  <p>Conference Name:<% concat application.conference_name %></p>
                  <p>Conference Date:<% concat application.conference_date %></p> 
                </div>
              <div class="col-lg-1">
                <p id="hide"><a>X</a></p>
              </div>
            </div>

          
          <% end %>


          </div>
        </div>
          


      </div>
</div>