<div class="dashboard-container container">
      <div class="row-fluid">
        <div class="header">

            <%= link_to root_path do %>
              <%= image_tag "header.png", id:"header-logo" %>
            <% end %>        
        
            <div class="header-link">
              <div class="col-lg-6">
                <h5><%= current_user.given_name %></h5>
              </div>
              <div class="col-lg-6">
                <%= link_to'Logout', destroy_user_session_path, :method => :delete, class: 'btn btn-primary'  %>                
              </div>

            </div>


        </div>
      </div>



      <div class="dashboard-content row">
        <!--Applications-->
        <div class="col-md-8 applications-container">
          <!-- Pending Apps Header -->
          <div class="pending-apps-header row">
            <h2 class="col-title pending-apps">Pending Applications </h2>
            <%= link_to "+", new_application_path, class: 'add-application' %>
          </div>

          <!-- Pending Apps -->
          <div class="pending-apps-content row">
            <% @requester = Requester.where(user_id: current_user.id)%>
            <% for application in Application.where(requester_id: @requester)%>
            <%= link_to controller: "applications", action: "requester_show", id: application.id do%>
              <div class="pending-apps-row">
                <h3><% concat application.conference_name %></h3>              

                <div class="col-lg-6">
                    <p>Application Number:<% concat application.id %></p>
                    <p>Conference Date:<% concat application.conference_date %></p> 
                    <p>Total cost: $<% concat application.meals_cost %></p>
                </div>
                  <div class="col-lg-6">
                    <p>Registration cost: <% concat application.registration_cost %></p>
                    <p>Transportation cost <% concat application.transportation_cost %></p> 
                    <p>Accomodation cost <% concat application.accomodation_cost %></p> 
                    <p>Meal cost <% concat application.meals_cost %></p> 
                </div>
                <hr>
              </div>
              <% end %>
            <% end %>
          </div>
        </div>

        <!--Messages/Notifications-->
        <div class="col-md-4 notifications-container">
          <div class="notifications-header">
          <h2 class="col-title">Notifications</h2>
          </div>

          <div class="notifications-content">
              
            <% @requester = Requester.where(user_id: current_user.id)%>
              <% for application in Application.where(requester_id: @requester,notifyrequester: true)%>
          

            <div class="notification-message">

                  <h3>Notification Name</h3>              
                    <%= link_to 'X', controller: "pages", action: "delete_notification_requester", id: application.id %> 
                  <p>Application Number:<% concat application.id %></p>
                  <p>Conference Name:<% concat application.conference_name %></p>
                  <p>Conference Date:<% concat application.conference_date %></p> 

            </div>
          
          <% end %>


          </div>
        </div>
          


      </div>
</div>