<div class="supervisor-dashboard-container container">
      <div class="row-fluid">
        <div class="header">

            <%= link_to root_path do %>
              <%= image_tag "header.png", id:"header-logo" %>
            <% end %>        
        
            <div class="header-link">
              <div class="col-lg-6">
                <h5><%= current_user.given_name %></h5>
              </div>
              <div class="col-lg-6">
                <%= link_to'Logout', destroy_user_session_path, :method => :delete, class: 'btn btn-primary'  %>                
              </div>

            </div>


        </div>
      </div>



      <div class="row">
        <!--Applications-->
        <div class="col-md-8 applications-container">
          <!-- Pending Apps Header -->
          <div class="pending-apps-header row">
            <p class="col-title pending-apps">View Applications</p>
          </div>

          <!-- Pending Apps -->
          <div class="pending-apps-content row">

            <% @supervisor = Supervisor.find_by(user_id: current_user.id)%>
            <% @requester = Requester.where(supervisor_id: @supervisor.id)%>
            <% for application in Application.where(requester_id: @requester)%>
            <%= link_to controller: "applications", action: "supervisor_show", id: application.id do%>
              <div class="pending-apps-row">
                <h3><% concat application.conference_name %></h3>             
                <div class="col-lg-6">
                    <p>Application Number:<% concat application.id %></p>
                    <p>Conference Date:<% concat application.conference_date %></p> 
                    <p>Total cost: $<% concat application.meals_cost %></p>
                </div>
                  <div class="col-lg-6">
                    <p>Registration cost: <% concat application.registration_cost %></p>
                    <p>Transportation cost <% concat application.transportation_cost %></p> 
                    <p>Accomodation cost <% concat application.accomodation_cost %></p> 
                    <p>Meal cost <% concat application.meals_cost %></p> 
                </div>
                <hr>
              </div>
              <% end %>
              <% end %>
          </div>
        </div>

        <!--Messages/Notifications-->
        <div class="col-md-4  notifications-container">
          <div class="notifications-header">
          <p class="col-title">Notifications</p>
          </div>


          <div class="notifications-content">
              <% for application in Application.first(10) %>
                <% @temp = Recommendation.find_by(application_id: application.id)%>
                <% @status = @temp.application_id%>
                <div class="notification-message <%= 'pending' if @status == 0 %>">

                      <h3 style="display:inline-block;">Notification Name</h3>

                      <%= link_to image_tag("remove.svg", class: 'close-notification'), controller: "pages", action: "delete_notification", id: application.id%> 
      

                      <p>Application Number:<% concat application.id %></p>                      
                      <p>Conference Name:<% concat application.conference_name %></p>
                      <p>Conference Date:<% concat application.conference_date %></p> 

                </div>
              
              <% end %>

            </div>

        </div>
          
      </div>
</div>