<div class="container">
  <div class="row-fluid">
    <div class="header">
        <%= link_to root_path do %>
          <%= image_tag "header.png", id:"header-logo" %>
        <% end %>        
    </div>
  </div>
  <div class="row-fluid">
    <div class="sign-up">
      <h1 class="page-title">Requester Signup</h1>
      <%= form_for :requester do |f| %>

      <% if @requester.errors.any? %>
      <h1>test</h1>
              <div id="error_explanation">
                <h2>
                  <%= pluralize(@requester.errors.count, "error") %> prohibited
                  this article from being saved:
                </h2>
                <ul>
                  <% @requester.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
      
      <div class="col-md-12">
        
        <div class="field">
          <%= f.label :student_number %><br />
          <%= f.text_field :student_number%>
        </div>
        <div class="field">
         <%= f.label :bank_account_number %><br />
         <%= f.text_field :bank_account_number%>
        </div>
        <div class="field">
         <%= f.label :program_of_study %><br />
         <%= f.text_field :program_of_study%>
        </div>
        <div class="field">
         <%= f.label :thesis_topic %><br />
         <%= f.text_field :thesis_topic%>
        </div>
        <div class="field">
         <%= f.label :session_number %><br />
         <%= f.text_field :session_number%>
        </div>
        <div class="field">
         <%= f.label :supervisor_id %><br />
         <%= collection_select(:requester, :supervisor, @supervisor, :id, :last_name) %>
        </div>
        <div class="field">
         <%= f.label :academic_unit %><br />
         <%= f.text_field :academic_unit%>
        </div>
        <div class="actions">
          <%= f.submit "Let's go!", class: 'sign-up-done btn btn-primary done' %>
        </div>
      <% end %>
      
    </div>
  </div>
</div>