<%= form_for :recommendation do |f| %>

	<p>
    	<%= f.label :application_recommendation %><br>
    	<%= f.text_field :application_recommendation %>
    	<%= f.hidden_field :application_id, value: params[:application_id] %>
    </p>

    <p>
        <%= f.submit%>
    </p>

<% end %>