<div class="container">
      <div class="row-fluid">
        <div class="header">

            <%= link_to root_path do %>
              <%= image_tag "header.png", id:"header-logo" %>
            <% end %>        
                    
            <div class="header-link">
                    <%= link_to'Logout', destroy_user_session_path, :method => :delete, class: 'btn btn-primary'  %>   
            </div>


        </div>
      </div>



      <div class="row">

      	<div class="new-recommendation">

	        <h1 class="page-title">Evaluate Application</h1>

	        <%= form_for :recommendation do |f| %>

			<div class="field">

				<%= f.label "Decision:" %>
				<%= f.select :application_status, options_for_select([['Approved',1],['Rejected', -1]]),
			    {}, { :class => 'decision-select' } %>

	        </div>

				<div class="field">
			    	<%= f.label "Comments:" %><br>
			    	<%= f.text_area :application_recommendation, class: 'commments-section' %>
			    	<%= f.hidden_field :application_id, value: params[:application_id] %>
			    </div>

			    <p>
			         <%= f.submit "Save", class:'rec-done btn btn-primary done' %>
			    </p>

			<% end %>

      	</div>




      </div>
</div>
